.main{
	width: auto;
	height: 1000px;
	background: black
}
.center{
	width: 500px;
	height: 500px;
	margin: auto;	
}
.parent{
	content: "";
	display: table;	
}
.mission{
	margin: auto;
    margin-top: 100px;
	display: block;
	width: 80px;
	height: 80px;
	background: url(../images/mission.png)  no-repeat;
	background-size:80px;
	-ms-transition:width 0.5s, height 0.5s, -ms-transform 0.5s;   /* IE 9浏览器 */
    -moz-transition:width 0.5s ,height 0.5s, -moz-transform 0.5s; /*老版本火狐浏览器兼容*/
    -o-transition:width 0.5s, height 0.5s, -o-transform 0.5s;/* Opera与Chrom浏览器兼容*/
    -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 0.5s;/*Safari浏览器兼容*/
    transition:width 0.5s ,height 0.5s ,transform 0.5s;
}
.mission:hover{
	transform: rotate(360deg) scale(2,2);
	-ms-transform: rotate(360deg) scale(2,2);	/* IE 9 */
	-webkit-transform: rotate(360deg) scale(2,2);	/* Safari 和 Chrome */
	-o-transform: rotate(360deg) scale(2,2);	/* Opera */
	-moz-transform: rotate(360deg) scale(2,2);	/* Firefox */
}
.arrow{
	text-decoration:none;
	position: absolute;
	top:240px;
	left: 50%;
	margin-left: -85px;
	box-sizing: border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 180px;
	height: 50px;
	border: 2px solid rgba(255,255,255,0.7);
}
span{
	line-height: 50px;
	padding-left: 20px;
	color: rgb(45,203,122);
}
img{
	position: absolute;
	top: 15px;
    right: 25px;
    -ms-transition:width 0.5s, height 0.5s, -ms-transform 0.5s;   /* IE 9浏览器 */
    -moz-transition:width 0.5s ,height 0.5s, -moz-transform 0.5s; /*老版本火狐浏览器兼容*/
    -o-transition:width 0.5s, height 0.5s, -o-transform 0.5s;/* Opera与Chrom浏览器兼容*/
    -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 0.5s;/*Safari浏览器兼容*/
    transition:width 0.5s ,height 0.5s ,transform 0.5s;
}
.arrow:hover{
	border: 2px solid rgba(255,255,255,1);
}
.arrow:hover .img{
	transform: translate(20px,0);
	-ms-transform: translate(20px,0px);		/* IE 9 */
	-webkit-transform: translate(20px,0px);	/* Safari and Chrome */
	-o-transform: translate(20px,0px);		/* Opera */
	-moz-transform: translate(20px,0px);		/* Firefox */		
}
.point{
	display: block;
	position: absolute;
	background: none;
	transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
}
.arrow:hover .point{
	background: #fff;
}
.point:nth-child(3){
	height: 2px;
	width: 0px;
	left: -110%;
	top: 0px;
}
.arrow:hover .point:nth-child(3){
	width: 100%;
	left: 0px;
}
.point:nth-child(4){
	width: 2px;
	height: 0;
	right: 0px;
	top:-150%;
}
.arrow:hover .point:nth-child(4){
	height: 100%;
	top: 0px;
}
.point:nth-child(5){
	height: 2px;
	width: 0px;
	right: -110%;
	bottom: 0px;
}
.arrow:hover .point:nth-child(5){
	width: 100%;
	right: 0px;
}
.point:nth-child(6){
	width: 2px;
	height: 0;
	left: 0px;
	bottom:-150%;
}
.arrow:hover .point:nth-child(6){
	height: 100%;
	bottom: 0px;
}